.grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 150px;
  height: 150px;
  font-size: 5rem;
  color: #e8e5e5;
  border: solid 1px black;
}

.square_o {
  background-color: rgb(87, 218, 21);
}

.square_x {
  background-color: crimson;
}

p {
  font-size: 3em;
  text-align: center;
}

.reset {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: aqua;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}